*{
	margin: 0px;
	padding: 0px;
	font-family: Verdana,Arial;
}
.container{
	display: flex;
	justify-content: center;
}
.datos{
	margin: 20px auto;
	display: table;
	border-collapse: separate;
	border-spacing: 0px;
}
.datos>a{
	text-decoration:none;
	margin: 10px;
}
.datos>a>div{
	display: table-cell;
	background-image: url("imgs/local.jpg");
	margin: 20px;
	width: 400px;
	height: 200px;
	border-radius: 10px;
	border: 1px solid black;
	vertical-align: middle;
}
.datos>a>div>div{
	display: table-cell;
	width: 400px;
	height: 200px;
	border-radius: 10px;
	background-color: rgba(0,0,0,.4);
	text-align: center;
	vertical-align: middle;
	color: white;
}